/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    gffctx.nf Configuration File
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default configuration options are defined here
--------------------------------------------------------------------------------
*/


manifest {
    author                  = "Joan Lluis Pons Ramon"
    name                    = "tgscan.nf"
    version                 = "0.1.0"
    description             = "Scan a 6-frame translated genome for sequences of interest using HMMER. "
    homePage                = "https://github.com/jllpons/tgscan"
}

params {
    // I/O options (required)
    input                   = null

    // Parameters with defaults
    outdir                  = 'tgscan_results'

    // hmmsearch options
    hmmsearch_T               = null
    hmmsearch_domT            = null

    // CLI Options
    help                    = null
    version                 = null

    // Mapping manifest so it's accessible in the main.nf script
    manifest                = manifest
}

includeConfig 'conf/modules.config'

plugins {
  id 'nf-schema@2.6.1'
}
