/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    tgscan.nf Configuration File
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default configuration options are defined here
--------------------------------------------------------------------------------
*/

manifest {
    author                  = "Joan Lluis Pons Ramon"
    name                    = "tgscan.nf"
    version                 = "0.1.0"
    description             = "Scan a six-frame translated genome for sequences of interest using HMM"
    homePage                = "https://github.com/jllpons/tgscan"
}

params {
    // I/O options (required)
    input                   = null
    outdir                  = null

    // Pipline parameters
    // seqkit translate
    translate_min_len       = 12

    // hmmsearch
    seq_eval                = 0.1
    seq_bitscore            = null
    dom_eval                = 10.0
    dom_bitscore            = null

    z_seq_evalue            = 45638612   // https://www.biostars.org/p/430701/
    z_dom_evalue            = 45638612

    // hmmsrchop.py togff
    togff_mode              = "best-alignment"
    togff_metric            = "evalue"

    // Options
    help                    = null
    version                 = null

    // Mapping manifest so it's accessible in the main.nf script
    manifest                = manifest
}

// Load base.config by defalut for all processes
//includeConfig 'conf/base.config'


// Set bash options
process.shell = """\
bash

set -e # Exit if a tool returns a non-zero status/exit code
set -u # Treat unset variables and parameters as an error
set -o pipefail # Returns the status of the last command to exit with a non-zero status or zero if all successfully execute
"""

// Nextflow plugins
plugins {
  id 'nf-schema@2.4.1'
}
